<% if @products.empty? %>
	<h2>No Products Found</h2>
<% else %>
	<h2>Listing Products</h2>
	<ul>
		<% @products.each do |product| %>
			<li>
				<p><b> Name : </b><%= link_to product["name"], product_path(product["id"]) %></p>
				<p><b> Price : </b><%= product["price"] %></p>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Add Product", new_product_path %>